var express = require('express');
var app     = express();
app.set('views','./views');
app.set('view engine','jade');

app.get('/test', function(req, res){
    res.render('index',{
        name:'Mazedur Rahman',
        age : 35
    });
})
app.get('/', function(req,res){
    res.send('Hello Express JS in Bangldesh...');
});

app.listen(3000, function(){
    console.log('Server is running ....');
})